body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #cece98c3;
    margin: 0;
}

#wrapper {
    position: relative;
}

canvas {
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
}

#promotionMenu {
    position: absolute;
    top: 50%;
    /* Vertically centered */
    left: 50%;
    /* Horizontally centered */
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding: 6px 12px;
    border: 2px solid #333;
    border-radius: 5px;
    background: white;
    z-index: 10;
}

#gameOverOverlay {
    position: absolute;
    top: 150px;
    left: 120px;
    width: 240px;
    /* match canvas width */
    height: 180px;
    /* match canvas height */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    text-align: center;
    animation: fadeIn 0.7s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}


#menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


#menu h1 {
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: center;
}

#menu button {
    padding: 10px 16px;
    font-size: 1em;
    cursor: pointer;
    background: #4CAF50;
    color: rgba(10, 10, 10);
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

#menu button:hover {
    background: #37803b;
}

#altMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: rgba(10, 10, 10);
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    height: fit-content;

}

#altMenu h1 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: rgb(245, 245, 245);
    text-align: center;
}

#altMenu button {
    padding: 10px 16px;
    font-size: 1em;
    cursor: pointer;
    background: #aa2a2a;
    color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

#altMenu button:hover {
    background: #771d1d;
}

#levelMessage {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #1d1d1d;
    white-space: pre-line;
    font-family: "Courier New", Courier, monospace;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#centerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#evoSelection,
#evoSelectionBlack {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

#evoSelection label,
#evoSelectionBlack label {
    margin-right: 3px;
    font-weight: bold;
    margin-left: 10px;
}

#evoSelection select,
#evoSelectionBlack select {
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 10px;
}